.list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.item {
  width: calc((100% - 40px) / 3);
  border-radius: 4px;
  border: 2px solid #fff;
  background: gray;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.item .button {
  background-color: black;
}

.button {
  height: max-content;
}

.icon {
  width: 20px;
  height: 20px;
}

.modal {
  position: relative;
}

.close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 20px;
  height: 20px;
  color: black;
}
