.form {
  background: #fff;
  width: 450px;
  height: max-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
}

.field:not(:last-child) {
  margin-bottom: 12px;
}

.form .button {
  width: 164px;
  margin-top: 40px;
  background-color: black;
}
